/* chat-style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.messages {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
    height: 200px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.messages p {
    margin: 5px 0;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px; /* Add vertical spacing between text box and button */
}

.input-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-container button[type="submit"]:hover {
    background-color: #45a049;
}

.logout-form {
    text-align: right;
}

.logout-form button[type="submit"] {
    background-color: #f44336; /* Red color for logout button */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logout-form button[type="submit"]:hover {
    background-color: #d32f2f; /* Darker shade of red on hover */
}
